#wtpQualitySign_fixedCSS {
    left:5px !important;
}

#wtpQualitySign_popupCSS {
    left:5px !important;
}

@media screen and (max-width: 600px) {
/*hide top scroll*/
	#top{
			display:none !important;
		}
}

@media screen and (max-width: 800px) {
/*hide paysera on mobile because z index */
#floating-items{
display:none !important;
}
/*Mobile version first block*/
#mobile-video{
display:block !important;
}
/*Hide slider*/
.slideshow-container{
display:none !important;
}
/*hide newsletters*/
#newsletter-validate-detail{
display:none !important;
}
/*Hide video*/
.col-md-9{
display:none !important;
}
/*hide chat*/
.mylivechat_inline{
display:none !important;
}

/*hide all logos*/
 .logo{
display:block ;/*!important;*/

  }
/*hide delivery icons*/
.toplo{
	display:none !important;
}
#logo-phone{
/*display:none !important;*/
padding-top : 20px !important;
font-size : 15px !important;
width:50% !important;
}
.massbottom2{
display:none !important;
}
.column{
	float: none !important;
	width: 100% !important;

}
.column-half{
	display: none !important;

}
}



.iview-caption span .button{
    padding: 5px 15px;
    border: 0px solid #fff;
    background: #f7931e;
    max-width: 100%;
}

.iview-caption span .button:hover{
    background: #f7931e;
    border-color: #f7931e;
}


/*slider adjustment*/
.slideshow-container .slideshow > li img{
min-height: 250px;
}

.toplo {
    position: relative;
}
	
#co-shipping-method-form .buttons-set .button{
background-color: #f7931e;
}

#co-shipping-method-form .buttons-set .button:hover{
background-color: #f7931e;
}

.opc .section.allow .step-title .number{
background-color: gray;
}
.opc .section .step-title .number, .opc .section.allow.active .step-title .number, .no-touch .opc .section.allow:hover .step-title .number{
    background-color: #f7931e;
}
.opc .section.allow .step-title:hover h2, .opc .section.active .step-title h2{
color: #f7931e;
}

.product-collateral .toggle-tabs li.current span, .product-collateral .toggle-tabs li:hover span{
color: #f7931e;
}
.skip-cart .count{

}
.header {
min-height: 0px;
}

.header-minicart .minicart-wrapper {
background-color: #333333;
}
.header-minicart .subtotal .label{
color: black;
}
.header-minicart .subtotal{
color: black;
}

.scrollup{
  background: #fe5252;
  bottom: 40px;
  display: block;
  position: fixed;
  right: 20px;
  border-radius: 10px !important;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 13px;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 600;
  padding: 2px;
  cursor: pointer;
  z-index: 999;
}

.logo{
    z-index: 1;
    position: relative;
}

.ves-megamenu .navbar-nav > li > a span{
font-size: 19px;
}

.header-v2 .logo .large{
text-align: center;
height: 120px;
}
.header-v2 .logo{
padding:10px;
}

#logo-phone{
width: 50%;
float: left;
padding-top: 70px;
font-size: 19px;
}

.bounceInUp{
padding: 10px;
font-size:15px;
}

.checkout-button{
    background: #f7931e!important;
    font-size: 18px;
    padding: 15px;
}

.btn-proceed-checkout{
    background: #f7931e!important;
    font-size: 18px;
    padding: 15px;
}
.no-touch .product-image:hover{
border-color:#61221b;
}

.ves-megamenu .navbar-nav > li > a:after{
background: #754c24;
}

/*.ves-megamenu .navbar-nav > li > a:hover{
background-color: #61221b;
}*/

.ves-megamenu .navbar-nav > li.active a span, .ves-megamenu .navbar-nav > li.active a:hover span, .ves-megamenu .navbar-nav > li.active a:active span{
color: white;
}
.ves-megamenu .navbar-nav > li.active a, .ves-megamenu .navbar-nav > li.active a:hover, .ves-megamenu .navbar-nav > li.active a:active{
background: #f7931e;
}

.button2 span, .button2 span span{
color: #754c24;
}

.button2 span:hover, .button2 span span:hover{
color: #f7931e;
}

#header-account a:hover{
color: #f7931e;
}

.skip-cart .count, .skip-link.skip-active .count{
color: #f7931e;
}

.header-minicart .subtotal .price{
color: #f7931e;
}

.header-minicart .product-details .product-name a{
color:white;
}

.header-minicart .info-wrapper td{
color: #f7931e;
}

.checkout-agreements .agreement-content{
    min-height: 320px;
}

.blokas img {
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
display: inline;
}

/*PAYMEN OPTIONS*/


.other_info {
    width: 1190px;
    display: block;
    float: left;
}
.other_info .payment {
    display: block;
    float: left;
    width: 100%;
    padding-left: 0;
    border-right: 1px solid #d8c6ab;
    margin-bottom: 20px;
}
.pay_text {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    color: #937d67;
}
.banks {
    display: block;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.bank{
    display: block;
    width: 200px;
    height: 46px;
    background: url(media/wysiwyg/local.png) no-repeat -0px -344px;
    float: left;
    margin-top: 0;
    margin-left: 13px;
}

.courier {
    display: block;
    width: 245px;
    height: 46px;
    background: url(media/wysiwyg/local.png) no-repeat 0 -253px;
    margin-left: 0;
    margin-top: 0;
    float: left;
}

.paysera {
    display: block;
    width: 130px;
    height: 46px;
    background: url(media/wysiwyg/local.png) no-repeat -13px -414px;
    float: left;
    margin-top: 0;
    margin-left: 13px;
    left: 5px;
}

.input-text:focus{
    border: 1px solid #f7931e;
}

/*HIDING STUFF*/
.cart-footer-actions{
display:none;
}
.shipping{
display:none;
}
.checkout-types.top{
display:none;
}



/* TESTIMONIAL*/

.carousel-control.left,.carousel-control.right  {background:none;width:25px;}

.broun-block {
    background: url("http://myinstantcms.ru/images/bg-broun1.jpg") repeat scroll center top rgba(0, 0, 0, 0);
    padding-bottom: 34px;
}
.block-text {
    background-color: #fff;
    border-radius: 5px;
    color: #626262;
    font-size: 14px;
    margin-top: 27px;
    padding: 15px 18px;
}
.block-text a {
 color: #7d4702;
    font-size: 25px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.mark {
    padding: 12px 0;background:none;
}
.block-text p {
    color: #585858;
    font-family: Georgia;
    font-style: italic;
    line-height: 20px;
}
#carousel-reviews{
padding-top: 0px;
}
.sprite-i-triangle {
    background-position: 0 -1298px;
    height: 44px;
    width: 50px;
}
.block-text ins {
    bottom: -44px;
    left: 50%;
    margin-left: -60px;
}


.block {
    display: block;
}
.zmin {
    z-index: 1;
}
.ab {
    position: absolute;
}

.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}
.person-text a {
    display: block;
    font-size: 14px;
    margin-top: 3px;
}
.person-text i {
    color: #fff;
    font-family: Georgia;
    font-size: 13px;
}
.rel {
    position: relative;
}

/*BANKS*/
.footer-logos{
padding: 1em;
margin: auto;
text-align: center;
}
.footer-logos__image {
    width: 150px;
	    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    display: inline-block;
}
.footer-seb{
    background-image: url(/media/wysiwyg/sprite.png);
    background-position: -320px -90px;
    width: 114px;
    height: 40px;
}
.footer-swed {
    background-image: url(/media/wysiwyg/sprite.png);
    background-position: 0 -264px;
    width: 114px;
    height: 25px;
}
.footer-dnb {
    background-image: url(/media/wysiwyg/sprite.png);
    background-position: -327px -289px;
    width: 49px;
    height: 25px;
}
.footer-nordea {
    background-image: url(/media/wysiwyg/sprite.png);
    background-position: -187px -289px;
    width: 83px;
    height: 25px;
}
.footer-maxima {
    background-image: url(/media/wysiwyg/sprite.png);
    background-position: -114px -264px;
    width: 109px;
    height: 25px;
}

.footer-paysera {
    background-image: url(/media/wysiwyg/sprite.png);
    background-position: -328px -260px;
    width: 103px;
    height: 27px;
}
.footer-sb {
    background-image: url(/media/wysiwyg/sprite.png);
        background-position: -170px -10px;
    width: 100px;
    height: 25px;
}
.footer-moki {
       background-image: url(/media/wysiwyg/sprite.png);
    background-position: -150px -95px;
    width: 150px;
    height: 25px;
}

.block-content {
	margin-top: 0px !important;
}

.tr-bg-1{
	margin: auto;
	padding: 1.5em;
	background-color: rgba(255, 255, 255, 0.6);
    max-width: 80%;	
}

.new-products {
	margin: auto !important;
	max-width: 100% !important;
	text-align: center;
}

.new-products .tab-side-container .panel-container {max-width:1260px; margin: 0 auto;}

/* Slider */
.slideshow-container{

	margin-bottom: 0 !important;
}
.slideshow-container {
	border: 4px solid #333333 !important; 
	border-width: 2px 0px 2px 0px !important;
	max-width: 100%;
    max-height: 100%;

}
/* noti area */
.noti-area {
	display: inline-block;
    /* top, transparent red, faked with gradient */ 
    background: 

    /* bottom, image */
    url("../images/dark_wood.png");
	max-height:100%;
	width: 100%;
	text-align:center;
	border-bottom: 2px solid #333333;
	margin-bottom: 3em;
}
.vertical-center {
	padding-bottom:0.5em;
	padding-top:0.5em;
	
}
.header-v2 .header-language-background {
  border-bottom: 1px solid #ECECEC;
	background-color: #342014;
}
.social-md{
	position:relative;
	display: inline-block;
	float: right;
}
.social-md .fb{
	margin: auto;
}
.outer-container ul.easytab-title:after, .tab-side-container ul.nav-tabs:after {
	background-color: #342014;
	height: 60%;
	top: 0;
	margin-top:2em;
		
}

.outer-container ul.easytab-title li, .tab-side-container ul.nav-tabs li.active {
	background: transparent;
}
.outer-container ul.easytab-title, .tab-side-container ul.nav-tabs {

    width: 100vw;
    left: calc(-50vw + 50%);

}
.block.owlproductcarousel .block-title, .block.ves-brandcarousel .block-title {
	background-color: #342014;
	height: 60%;
	top: 0;


	
}
.block.owlproductcarousel .block-title strong, .block.ves-brandcarousel .block-title strong {
	font-size: 2em;
	padding-top:1em;
	margin: auto;
	color: #ffffff;
	font-weight: 100;
    z-index: 2;
    background: 0;

	margin:auto;
    position: relative;
}
.block.owlproductcarousel .block-title:after, .block.ves-brandcarousel .block-title:after {
    content: "";
    width: 100%;
    background: #ececec;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
}
.block, .col-left-first {
    margin-bottom: 0;
}
html, body {
  overflow-x: hidden;
}
.container {

}
.col-xs-6 {
    width: 50%;
    padding-bottom: 1em;
}
.well {
	border: 2px solid #683825;
}
/* Product Item */
.products-grid .product-image {
    border: 4px solid #683825;
}
.products-grid .product-image:hover {
	border: 4px solid #f7931e;
}
.product-block .product-info {

}
.tab-side-container .panel-container, .outer-container .panel-container {
		background-color: transparent;
}
.product-block .actions,
.product-block .btn-cart,
.product-block .add-to-links {

}
/* Product Fonts */
@media only screen and (max-width: 600px){
	.product-block .product-info .product-name a {
		font-weight: 700;
		font-size: 0.8em;
	}
}
.product-block .product-info .product-name a {
    color: #333333;
    font-weight: 700;
}
.price-box .price, .price {
    font-weight: 600;
    
}
/* SEARCH */

#search {
    max-width: 65%;
	display: inline-block;
	height: 35px;
	margin-right: 0;
	border-radius: 10px;
}
div .button {
		border-radius: 10px;
		background-color: #f7931e;
		color: #ffffff;
}
input[type=search]{
	width: 14em;
	height: 1.5em;
}
/* EMAIL FORM */
input[type=email]{

	height: 2.3em;
}
/* NAVIGATION */
@media only screen and (min-width: 770px){
	.header-v2 #header-nav {
		border-bottom: 0;
		/*border-radius: 10px;*/
		border-top: 2px solid #f7931e;
		/*border-bottom: 1px solid #000000;*/
	}
	.ves-megamenu .navbar-nav > li {
		float: left;
		border-right: 1px solid #f7931e;
		/* border-radius: 10px; */
	}
}
/* NAV END */

.account-cart-wrapper {
	margin-top: 0.3em;
	float: right;
	position:relative;
}
.bgr-round {
	text-align: center;
}
.skip-cart.no-count .count {
    display: inline-block;
}
.skip-cart{
	color: #636363;
}
.ves-parallax {

}
.rde-button {
    padding: 0 25px;
    font-size: 17px;
    text-shadow: 0 1px 0 rgba(255,243,113,0.75);
    font-weight: 300;
    height: 38px;
    line-height: 38px;
    background: #553122;
    background: -moz-linear-gradient(90deg, #553122 0, #4a281b 100%);
    background: -webkit-linear-gradient(90deg, #553122 0, #4a281b 100%);
    background: -o-linear-gradient(90deg, #553122 0, #4a281b 100%);
    background: -ms-linear-gradient(90deg, #553122 0, #4a281b 100%);
    background: linear-gradient(180deg, #553122 0, #4a281b 100%);
	color: #fff;
	float: right;
    width: 100%;
}
.rde-button:hover {
    background:  #fcd878;
    background: -moz-linear-gradient(90deg, #fcd878 0, #fbbe45 100%);
    background: -webkit-linear-gradient(90deg, #fcd878 0, #fbbe45 100%);
    background: -o-linear-gradient(90deg, #fcd878 0, #fbbe45 100%);
    background: -ms-linear-gradient(90deg, #fcd878 0, #fbbe45 100%);
    background: linear-gradient(180deg, #fcd878 0, #fbbe45 100%);
    text-shadow: none;
    color: #fff;
}
/* Green */
.ves-megamenu .navbar-nav > li > a:hover span, .ves-megamenu .navbar-nav > li > a:focus span, .ves-megamenu .navbar-nav > li > a:active span {
    color: #f7931e;
}

/* end */
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
.noti-head {
    padding: 2em;
	padding-bottom: 6em;
	background-color: rgba(255,255,255,0.6); 
	
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),
    url("../images/showcase/adv-footer1.jpg");
	border-top: 2px solid transperant;
	border-radius: 20px;
}
.map {
	width: 100%;
}
.container, .up {
	padding-top:10em;
}
/* Service USR profile */
	
.user-profile {
  padding-bottom: 30px;
}

.profile-header-background {
	height: 300px;
	background: 
    linear-gradient(
      rgba(58, 38, 19, 0.5), 
      rgba(58, 38, 19, 0.5)
    ),
    url("../images/aw6uewokoio-crew.jpg") 30%;  
    background-size: cover;
}
.profile-header-background img {
  width: 100%;
  height: 310px;
}

.profile-info-left {
  position: relative;
  top: -92px;
}
.profile-info-left img.avatar {
  border: 2px solid #fff;
}
.profile-info-left h2 {
  font-family: "josefinslab-semibold";
  margin-bottom: 30px;
}
.profile-info-left .section {
  margin-top: 50px;
}
.profile-info-left .section h3 {
  font-size: 1.1em;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.profile-info-left ul.list-social > li {
  line-height: 2.3;
}
.profile-info-left ul.list-social > li i {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  top: 1px;
  font-size: 16px;
  min-width: 16px;
  line-height: 1;
}
.profile-info-left ul.list-social > li a {
  color: #696565;
}

.profile-info-right .tab-content {
  padding: 30px 0;
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .profile-info-right {
    position: relative;
    top: -70px;
  }
}

.user-follower,
.user-following {
  position: relative;
  margin-bottom: 40px;
}
.user-follower img,
.user-following img {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 40px;
}
.user-follower a,
.user-following a {
  font-size: 1.1em;
  line-height: 1;
}
.user-follower .username,
.user-following .username {
  font-size: 0.9em;
  line-height: 1.5;
}
.user-follower .btn,
.user-following .btn {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 92px;
}

.btn-toggle-following {
  background-color: #7bae16;
  color: #fff;
}
.btn-toggle-following:hover {
  background-color: #ef2020;
  color: #fff;
}
.btn-toggle-following:hover span {
  display: none;
}
.btn-toggle-following:hover:after {
  content: 'Unfollow';
  display: inline;
}
.btn-toggle-following:hover i:before {
  content: '\f129';
}


/* list icons */
.list-icons-demo li {
  margin-bottom: 20px;
  text-align: center;
}
.list-icons-demo li i {
  font-size: 24px;
}

.list-icons-demo2 li {
  margin-bottom: 10px;
}

.activity-item {
  overflow: visible;
  position: relative;
  margin: 15px 0;
  border-top: 1px dashed #ccc;
  padding-top: 15px;
}
.activity-item:first-child {
  border-top: none;
}
.activity-item .avatar {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 32px;
}
.activity-item > i {
  font-size: 18px;
  line-height: 1;
}
.activity-item .media-body {
  position: relative;
}
.activity-item .activity-title {
  margin-bottom: 0;
  line-height: 1.3;
}
.activity-item .activity-attachment {
  padding-top: 20px;
}
.activity-item .well {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-left: 2px solid #cfcfcf;
  background: #fff;
  margin-left: 20px;
  font-size: 0.85em;
}
.activity-item .thumbnail {
  display: inline;
  border: none;
  padding: 0;
}
.activity-item .thumbnail img {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: auto;
  margin: 0;
}
.activity-item .activity-actions {
  position: absolute;
  top: 15px;
  right: 0;
}
.activity-item .activity-actions .btn i {
  margin: 0;
}
.activity-item .activity-actions .dropdown-menu > li > a {
  font-size: 0.9em;
  padding: 3px 10px;
}
.activity-item + .btn {
  margin-bottom: 15px;
}


.nav-tabs > li > a {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  cursor: pointer;
}

.nav-pills > li > a {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #1688ae;
}

.nav-tabs.tabs-iconized > li a,
.nav-pills.tabs-iconized > li a {
  padding-top: 0;
  padding-bottom: 5px;
}
.nav-tabs.tabs-iconized > li i,
.nav-pills.tabs-iconized > li i {
  position: relative;
  margin-right: 3px;
  top: 4px;
  font-size: 24px;
}

.tab-content {
  padding: 30px 15px 15px 15px;
  background-color: #fff;
}

.nav.nav-tabs-custom-colored > li > a {
  border-color: #ccc;
  border-bottom: transparent;
}
.nav.nav-tabs-custom-colored > li > a:hover, .nav.nav-tabs-custom-colored > li > a:focus {
  background-color: #1688ae;
}

.nav-tabs.nav-tabs-custom-colored {
  border-bottom-color: #1688ae;
}
.nav-tabs.nav-tabs-custom-colored > li {
  z-index: 0;
  margin-bottom: 0;
  background-color: #fff;
}
.nav-tabs.nav-tabs-custom-colored > li > a {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  color: #696565;
  margin-right: 0;
}
.nav-tabs.nav-tabs-custom-colored > li > a:hover, .nav-tabs.nav-tabs-custom-colored > li > a:focus {
  color: #fff;
  border-color: #1688ae;
}
.nav-tabs.nav-tabs-custom-colored > li.active > a, .nav-tabs.nav-tabs-custom-colored > li.active > a:hover, .nav-tabs.nav-tabs-custom-colored > li.active > a:focus {
  color: #fff;
  background-color: #1688ae;
  border-color: #1688ae;
  border-bottom: transparent;
}
.nav-tabs > li.active {
  z-index: 1;
}

.nav-pills-custom-minimal {
  border-bottom: 1px solid #ccc;
}
.nav-pills-custom-minimal > li > a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 10px;
  border-top: 4px solid transparent;
  color: #696565;
}
.nav-pills-custom-minimal > li > a:hover, .nav-pills-custom-minimal > li > a:focus {
  background-color: transparent;
  color: #4f4c4c;
}
.nav-pills-custom-minimal > li.active > a, .nav-pills-custom-minimal > li.active > a:hover, .nav-pills-custom-minimal > li.active > a:focus {
  background-color: transparent;
  border-top-color: #94c632;
  color: #696565;
}
.nav-pills-custom-minimal > li + li {
  margin-left: 30px;
}
@media screen and (max-width: 480px) {
  .nav-pills-custom-minimal > li + li {
    margin-left: 0;
  }
}
.nav-pills-custom-minimal.custom-minimal-bottom > li a {
  border-top: none;
  border-bottom: 4px solid transparent;
}
.nav-pills-custom-minimal.custom-minimal-bottom > li.active > a, .nav-pills-custom-minimal.custom-minimal-bottom > li.active > a:hover, .nav-pills-custom-minimal.custom-minimal-bottom > li.active > a:focus {
  border-bottom-color: #94c632;
}
/* END END END */
										.faqHeader {
												font-size: 27px;
												margin: 20px;
											}

											.panel-heading [data-toggle="collapse"]:after {
												font-family: 'Glyphicons Halflings';
												content: "\e072"; /* "play" icon */
												float: right;
												color: #F58723;
												font-size: 18px;
												line-height: 22px;
												/* rotate "play" icon from > (right arrow) to down arrow */
												-webkit-transform: rotate(-90deg);
												-moz-transform: rotate(-90deg);
												-ms-transform: rotate(-90deg);
												-o-transform: rotate(-90deg);
												transform: rotate(-90deg);
											}

											.panel-heading [data-toggle="collapse"].collapsed:after {
												/* rotate "play" icon from > (right arrow) to ^ (up arrow) */
												-webkit-transform: rotate(90deg);
												-moz-transform: rotate(90deg);
												-ms-transform: rotate(90deg);
												-o-transform: rotate(90deg);
												transform: rotate(90deg);
												color: #454444;
											}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none !important;
}
.mylivechat_collapsed{
	background-color: #3a2613 !important;
    border: 1px solid #3a2613 !important;
}
.mylivechat_expanded {
	background-color: #3a2613 !important;
    border: 1px solid #3a2613 !important;
}
.mylivechat_prechat_submit_button, .mylivechat_offline_submit_button, .mylivechat_prechat_survey_button {
	background-color: #3a2613 !important;
}
.product-block .actions, .product-block .btn-cart, .product-block .add-to-links {
    visibility: visible;
    opacity: 1;
    float: right;
    width: 100%;
    margin-right: 0.5em;
}
.outer-container ul.easytab-title:after, .tab-side-container ul.nav-tabs:after {
    content: "";
    width: 100%;
    background: #ececec;
    height: 1px;
    position: relative;
    top: 50%;
    left: 0;
}
@media screen and (max-width: 600px) {
.outer-container ul.easytab-title li a, .tab-side-container ul.nav-tabs li a {
    font-size: 1.5em;


    margin-left: 22vw;
 
    color: #3a2613;
    font-weight: 100;
}
}
@media screen and (min-width: 600px) {
.outer-container ul.easytab-title li a, .tab-side-container ul.nav-tabs li a {
    font-size: 2em;
    margin-left: 40vw;
    color: #3a2613;
    font-weight: 100;
}
}
}
.outer-container ul.easytab-title li.active, .tab-side-container ul.nav-tabs li.active {
    background: 0;
}
.ves-megamenu .navbar-nav > li > a .caret:before {
    color: #fff;
}
.dropdown-menu {
    display: inline-block !important;
}
.product-block .product-info .product-name {

    height: 80px;
}
.lead {
    margin-bottom: 0px !important;
}
.collapse {
    display: inline-block !important;
}
@media screen and (max-width: 600px) {
	.profile-info-left {
	    position: relative;
	    top: -50px;
	}
	.form-search {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
	}
/* Mobile Menu always on */
	.header #header-nav.skip-content {
	}
/* END */
	.ves-megamenu .dropdown-menu .mega-col .mega-col-inner li a span {
	    color: #ffffff;
	}
}
.header .wrap-container {

}
.header-v2 .skip-link {
    color: #371303;
	font-weight: 400;
	font-size: 1.2em;
}
.skip-cart.no-count .count {
	color: #371303;
	font-weight: 400;
	font-size: 1.2em;

}
.skip-nav {
    width: 100%;
}
/* Toolbar */
.right-arrow {
    float: none !important;
    margin-left: 3px;
}
.pager {

    margin: 0 !important;
}
.toolbar .pager .limiter ul li {
    padding: 0;
    background: transparent;
}
.toolbar .pager .limiter {
    float: right;
    padding-right: 3em;
}
.pager .amount, .pager .limiter, .pager .pages {
    margin-bottom: 0;
}
.toolbar .pager .limiter ul li {
    padding: 0 !Important;
	width: 55px !important;
}
.pager li>a, .pager li>span {

    border: 0 !important;
}
.pager li>a, .pager li>span {

    border: 0 !important;
    border-radius: 0px !important;
}
.toolbar .limiter ul li ul, .toolbar .sort-by ul li ul {

    top: 0 !important;
}
/* TOOLBAR END */
/* Sidebar Catalog */
.sidebar .block-title strong, .sidebar .block-title {

    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    color: #636363 !important;
	background-color: transparent !important;
    padding-bottom: 0;
    margin-bottom: 13px;
    text-transform: uppercase;

}
body:not(.customer-account) .block:first-child .block-title {
    border-top: none;

}

/* SIDEBAR END */
/*.main-container, .container, .wrap-container, .page-header, .footer-container {
    padding: 0 !important;
}*/
/* Cointainers */
.hm-bgr {

	max-height: 300px;
	background:	
    linear-gradient(
      rgba(58, 38, 19, 0.9), 
      rgba(58, 38, 19, 0.9)
    ),
    url("../images/aw6uewokoio-crew.jpg") 30%;  
    background-size: cover;
}
.hm-bgr p {
	font-family: 'Noto Sans', sans-serif !Important;
	padding-top: 1em;
	padding-bottom:1em;
	color: #ffffff;
	font-size: 1.5em;
	text-align: justify;
}
.prn-button {
    font-size: 18px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif !Important;
    height: 46px;
    text-align: center;
    border-radius: 30px;
    border: 5px solid #f0af29;
    line-height: 38px;
    text-transform: uppercase;
    padding: 0px 30px;
    float: none !important;
}
.widget-newsletter{
	text-align: center;
}
.widget-newsletter input {

    width: 100% !important;
}
.ves-widget .menu-title {
    text-transform: none;
    font-weight: 500;
    
}
.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

/*====================================== 170617 =========================================*/
.main-container {margin-bottom:40px !important;}
.cms-index-index .main-container {max-width:100%; margin-bottom:0;}
.cms-index-index .ves-maincontent .main-container {margin-bottom:0 !important;}
.tab-side-container ul.nav-tabs {left: auto; width: 100%; text-align: center; font-size: 0;}
.tab-side-container ul.nav-tabs li {float: none; margin: 0;}
.tab-side-container ul.nav-tabs li a {font-size:32px; margin:0;}
.ves-maincontent .wrap-container, .ves-massbottom .wrap-container {max-width:100%;}
.ves-massbottom .wrap-container .ourservice-block {max-width:1260px; margin: 0 auto;}
#ves-footer .footer-top {padding-top: 0 !important; padding-bottom: 10px !important;}

#opc-billing form, #opc-shipping form {position:relative;}
#opc-billing form .fieldset p.required, #opc-shipping form .fieldset p.required {position:absolute; right:0; top:-12px;}
#opc-billing .form-list ul li, #opc-shipping .form-list ul li {float:left; width:48%;}
#opc-billing .form-list ul li input.input-text, #opc-shipping .form-list ul li input.input-text {width:100%;}
#opc-billing .form-list ul li select, #opc-shipping .form-list ul li select {max-width:100%;}
#opc-billing .form-list ul li:nth-child(2n+1), #opc-shipping .form-list ul li:nth-child(2n+1) {margin-right: 4%;}
.checkout-onepage-index .col-right {margin-top:20px;}
#co-shipping-form ul.form-list > .control {float:left;}
#co-shipping-form ul.form-list > .control .checkbox {margin:3px 5px 0 0;}
#co-shipping-form ul.form-list > .control label {padding: 0; line-height: normal; margin: 0;}

@media screen and (max-width: 1280px) {
    .main-container, .container, .wrap-container, .page-header, .footer-container {padding: 0 20px !important;}
}

@media screen and (max-width: 991px) {
    .ves-megamenu .navbar-nav > li > a .caret:before {display:block !important;}
}

@media screen and (min-width: 768px) and (max-width:991px) {
    .footer-container .col-sm-6 {float:none; display:inline-block; width:48%; vertical-align:top;}
}

@media screen and (max-width: 767px) {
    .ves-footer .block .block-title {padding:0 !important; margin-bottom:0 !important;}
    .ves-footer .block .block-content .panel-group {margin-bottom:0; }
    .ves-footer .block .block-content .panel-group ul {margin-bottom:0;}

}

@media screen and (max-width: 568px) {
    #opc-billing .form-list ul li, #opc-shipping .form-list ul li {float:none; width:100%;}
    #opc-billing .form-list ul li:nth-child(2n+1), #opc-shipping .form-list ul li:nth-child(2n+1) {margin-right:0;}
}

@media screen and (max-width: 368px) {
    .opc .section .step-title h2 {font-size:13px;}
    .checkout-onepage-index .main-container {padding:0 16px !important;}
}
