#wtpQualitySign_fixedCSS {
    left:5px !important;
}

#wtpQualitySign_popupCSS {
    left:5px !important;
}

@media screen and (max-width: 600px) {
/*hide top scroll*/
	#top{
			display:none !important;
		}
}

@media screen and (max-width: 800px) {
/*hide paysera on mobile because z index */
#floating-items{
display:none !important;
}
/*Mobile version first block*/
#mobile-video{
display:block !important;
}
/*Hide slider*/
.slideshow-container{
display:none !important;
}
/*hide newsletters*/
#newsletter-validate-detail{
display:none !important;
}
/*Hide video*/
.col-md-9{
display:none !important;
}
/*hide chat*/
.mylivechat_inline{
display:none !important;
}

/*hide all logos*/
 .logo{
display:block ;/*!important;*/

  }
/*hide delivery icons*/
.toplo{
	display:none !important;
}
#logo-phone{
/*display:none !important;*/
padding-top : 20px !important;
font-size : 15px !important;
width:50% !important;
}
.massbottom2{
display:none !important;
}
.column{
	float: none !important;
	width: 100% !important;

}
.column-half{
	display: none !important;

}
}



.iview-caption span .button{
    padding: 5px 15px;
    border: 0px solid #fff;
    background: #f7931e;
    max-width: 100%;
}

.iview-caption span .button:hover{
    background: #f7931e;
    border-color: #f7931e;
}


/*slider adjustment*/
.slideshow-container .slideshow > li img{
min-height: 250px;
}

.toplo {
    position: relative;
}
	
#co-shipping-method-form .buttons-set .button{
background-color: #f7931e;
}

#co-shipping-method-form .buttons-set .button:hover{
background-color: #f7931e;
}

.opc .section.allow .step-title .number{
background-color: gray;
}
.opc .section .step-title .number, .opc .section.allow.active .step-title .number, .no-touch .opc .section.allow:hover .step-title .number{
    background-color: #f7931e;
}
.opc .section.allow .step-title:hover h2, .opc .section.active .step-title h2{
color: #f7931e;
}

.product-collateral .toggle-tabs li.current span, .product-collateral .toggle-tabs li:hover span{
color: #f7931e;
}
.skip-cart .count{

}
.header {
min-height: 0px;
}

.header-minicart .minicart-wrapper {
background-color: #efe6e2;
margin-top: 12px;
border: 1px solid #CCCCCC;
}
.header-minicart .subtotal .label{
color: black;
}
.header-minicart .subtotal{
color: black;
}

.scrollup{
  background: #fe5252;
  bottom: 40px;
  display: block;
  position: fixed;
  right: 20px;
  border-radius: 10px !important;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 13px;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 600;
  padding: 2px;
  cursor: pointer;
  z-index: 999;
}

.logo{
    z-index: 1;
    position: relative;
}

.ves-megamenu .navbar-nav > li > a span{
font-size: 18px;
color: #3a2613 !important;
font-weight:bold;
}

.header-v2 .logo .large{
text-align: center;
height: 120px;
}
.header-v2 .logo{
padding:10px;
}

#logo-phone{
width: 50%;
float: left;
padding-top: 70px;
font-size: 19px;
}

.bounceInUp{
padding: 10px;
font-size:15px;
}

.checkout-button{
    background: #f7931e!important;
    font-size: 18px;
    padding: 15px;
}

.btn-proceed-checkout{
    background: #f7931e!important;
    font-size: 18px;
    padding: 15px;
}
.no-touch .product-image:hover{
border-color:#61221b;
}

.ves-megamenu .navbar-nav > li > a:after{
background: #754c24;
}

/*.ves-megamenu .navbar-nav > li > a:hover{
background-color: #61221b;
}*/

.ves-megamenu .navbar-nav > li.active a span, .ves-megamenu .navbar-nav > li.active a:hover span, .ves-megamenu .navbar-nav > li.active a:active span{
color: white;
}
.ves-megamenu .navbar-nav > li.active a, .ves-megamenu .navbar-nav > li.active a:hover, .ves-megamenu .navbar-nav > li.active a:active{
background: #f7931e;
}

.button2 span, .button2 span span{
color: #754c24;
}

.button2 span:hover, .button2 span span:hover{
color: #f7931e;
}

#header-account a:hover{
color: #f7931e;
}

/*.skip-cart .count, .skip-link.skip-active .count{
color: #f7931e;
}*/

.header-minicart .subtotal .price{
color: #f7931e;
}

.header-minicart .product-details .product-name a{
color:#241b12;
}

.header-minicart .info-wrapper td{
color: #f7931e;
}

.checkout-agreements .agreement-content{
    min-height: 320px;
}

.blokas img {
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
display: inline;
}

/*PAYMEN OPTIONS*/


.other_info {
    width: 1190px;
    display: block;
    float: left;
}
.other_info .payment {
    display: block;
    float: left;
    width: 100%;
    padding-left: 0;
    border-right: 1px solid #d8c6ab;
    margin-bottom: 20px;
}
.pay_text {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    color: #937d67;
}
.banks {
    display: block;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.bank{
    display: block;
    width: 200px;
    height: 46px;
    background: url(media/wysiwyg/local.png) no-repeat -0px -344px;
    float: left;
    margin-top: 0;
    margin-left: 13px;
}

.courier {
    display: block;
    width: 245px;
    height: 46px;
    background: url(media/wysiwyg/local.png) no-repeat 0 -253px;
    margin-left: 0;
    margin-top: 0;
    float: left;
}

.paysera {
    display: block;
    width: 130px;
    height: 46px;
    background: url(media/wysiwyg/local.png) no-repeat -13px -414px;
    float: left;
    margin-top: 0;
    margin-left: 13px;
    left: 5px;
}

.input-text:focus{
    border: 1px solid #f7931e;
}

/*HIDING STUFF*/
.cart-footer-actions{
display:none;
}
.shipping{
display:none;
}
.checkout-types.top{
display:none;
}



/* TESTIMONIAL*/

.carousel-control.left,.carousel-control.right  {background:none;width:25px;}

.broun-block {
    background: url("http://myinstantcms.ru/images/bg-broun1.jpg") repeat scroll center top rgba(0, 0, 0, 0);
    padding-bottom: 34px;
}
.block-text {
    background-color: #fff;
    border-radius: 5px;
    color: #626262;
    font-size: 14px;
    margin-top: 27px;
    padding: 15px 18px;
}
.block-text a {
 color: #7d4702;
    font-size: 25px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.mark {
    padding: 12px 0;background:none;
}
.block-text p {
    color: #585858;
    font-family: Georgia;
    font-style: italic;
    line-height: 20px;
}
#carousel-reviews{
padding-top: 0px;
}
.sprite-i-triangle {
    background-position: 0 -1298px;
    height: 44px;
    width: 50px;
}
.block-text ins {
    bottom: -44px;
    left: 50%;
    margin-left: -60px;
}


.block {
    display: block;
}
.zmin {
    z-index: 1;
}
.ab {
    position: absolute;
}

.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}
.person-text a {
    display: block;
    font-size: 14px;
    margin-top: 3px;
}
.person-text i {
    color: #fff;
    font-family: Georgia;
    font-size: 13px;
}
.rel {
    position: relative;
}

/*BANKS*/
.footer-logos{
padding: 1em;
margin: auto;
text-align: center;
}
.footer-logos__image {
    width: 150px;
	    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    display: inline-block;
}
.footer-seb{
    background-image: url(/media/wysiwyg/sprite.png);
    background-position: -320px -90px;
    width: 114px;
    height: 40px;
}
.footer-swed {
    background-image: url(/media/wysiwyg/sprite.png);
    background-position: 0 -264px;
    width: 114px;
    height: 25px;
}
.footer-dnb {
    background-image: url(/media/wysiwyg/sprite.png);
    background-position: -327px -289px;
    width: 49px;
    height: 25px;
}
.footer-nordea {
    background-image: url(/media/wysiwyg/sprite.png);
    background-position: -187px -289px;
    width: 83px;
    height: 25px;
}
.footer-maxima {
    background-image: url(/media/wysiwyg/sprite.png);
    background-position: -114px -264px;
    width: 109px;
    height: 25px;
}

.footer-paysera {
    background-image: url(/media/wysiwyg/sprite.png);
    background-position: -328px -260px;
    width: 103px;
    height: 27px;
}
.footer-sb {
    background-image: url(/media/wysiwyg/sprite.png);
        background-position: -170px -10px;
    width: 100px;
    height: 25px;
}
.footer-moki {
       background-image: url(/media/wysiwyg/sprite.png);
    background-position: -150px -95px;
    width: 150px;
    height: 25px;
}

.block-content {
	margin-top: 0px !important;
}

.tr-bg-1{
	margin: auto;
	padding: 1.5em;
	background-color: rgba(255, 255, 255, 0.6);
    max-width: 80%;	
}

.new-products {
	margin: auto !important;
	max-width: 100% !important;
	text-align: center;
}

.new-products .tab-side-container .panel-container {max-width:1260px; margin: 0 auto;}

/* Slider */
.slideshow-container{

	margin-bottom: 0 !important;
}
.slideshow-container {
	border: 4px solid #333333 !important; 
	border-width: 2px 0px 2px 0px !important;
	max-width: 100%;
    max-height: 100%;

}
/* noti area */
.noti-area {
	display: inline-block;
    /* top, transparent red, faked with gradient */ 
    background: 

    /* bottom, image */
    url("../images/dark_wood.png");
	max-height:100%;
	width: 100%;
	text-align:center;
	border-bottom: 2px solid #333333;
	visibility:hidden;
}
.vertical-center {
	padding-bottom:0.5em;
	padding-top:0.5em;
	
}
.header-v2 .header-language-background {
  border-bottom: 1px solid #ECECEC;
	background-color: #342014;
}
.social-md{
	position:relative;
	display: inline-block;
	float: right;
}
.social-md .fb{
	margin: auto;
}
.outer-container ul.easytab-title:after, .tab-side-container ul.nav-tabs:after {
	background-color: #342014;
	height: 60%;
	top: 0;
	margin-top:2em;
		
}

.outer-container ul.easytab-title li, .tab-side-container ul.nav-tabs li.active {
	background: transparent;
}
.outer-container ul.easytab-title, .tab-side-container ul.nav-tabs {

    width: 100vw;
    left: calc(-50vw + 50%);

}
.block.owlproductcarousel .block-title, .block.ves-brandcarousel .block-title {
	background-color: #342014;
	height: 60%;
	top: 0;


	
}
.block.owlproductcarousel .block-title strong, .block.ves-brandcarousel .block-title strong {
	font-size: 2em;
	padding-top:1em;
	margin: auto;
	color: #ffffff;
	font-weight: 100;
    z-index: 2;
    background: 0;

	margin:auto;
    position: relative;
}
.block.owlproductcarousel .block-title:after, .block.ves-brandcarousel .block-title:after {
    content: "";
    width: 100%;
    background: #ececec;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
}
.block, .col-left-first {
    margin-bottom: 0;
}
html, body {
  overflow-x: hidden;
}
.container {

}
.col-xs-6 {
    width: 50%;
    padding-bottom: 1em;
}
.well {
	border: 2px solid #683825;
}
/* Product Item */
.products-grid .product-image {
    border: 4px solid #683825;
}
.products-grid .product-image:hover {
	border: 4px solid #f7931e;
}
.product-block .product-info {

}
.tab-side-container .panel-container, .outer-container .panel-container {
		background-color: transparent;
}
.product-block .actions,
.product-block .btn-cart,
.product-block .add-to-links {

}
/* Product Fonts */
@media only screen and (max-width: 600px){
	
}
.product-block .product-info .product-name a {
    color: #333333;
    font-weight: 700;
}
.price-box .price, .price {
    font-weight: 600;
    
}
/* SEARCH */

#search {
    max-width: 100%;
    display: inline-block;
    height: 28px;
    margin-right: 0;
    border-radius: 4px;
    background: rgba(219, 207, 204, 0.07);
    border-color: #504941;
    color: #918579;
    font-size: 13px;
    font-family: Cabin, sans-serif;
    padding-right:30px;
}
div .button {
		border-radius: 10px;
		background-color: #f7931e;
		color: #ffffff;
}
input[type=search]{
	width: 14em;
	height: 1.5em;
}
/* EMAIL FORM */
input[type=email]{

	height: 2.3em;
}
/* NAVIGATION */
@media only screen and (min-width: 770px){
	.header-v2 #header-nav {
		border-bottom: 0;
		border:0;
		margin-top:27px;
	}
	.ves-megamenu .navbar-nav > li {
		float: left;
		border-right: 0;
		/* border-radius: 10px; */
	}
}
/* NAV END */

.account-cart-wrapper {
	margin-top: 0.3em;
	float: right;
	position:relative;
}
.bgr-round {
	text-align: center;
}
.skip-cart.no-count .count {
    display: inline-block;
}
.skip-cart{
	color: #636363;
}
.ves-parallax {

}
.rde-button {
    padding: 0 25px;
    font-size: 17px;
    text-shadow: 0 1px 0 rgba(255,243,113,0.75);
    font-weight: 300;
    height: 38px;
    line-height: 38px;
    background: #553122;
    background: -moz-linear-gradient(90deg, #553122 0, #4a281b 100%);
    background: -webkit-linear-gradient(90deg, #553122 0, #4a281b 100%);
    background: -o-linear-gradient(90deg, #553122 0, #4a281b 100%);
    background: -ms-linear-gradient(90deg, #553122 0, #4a281b 100%);
    background: linear-gradient(180deg, #553122 0, #4a281b 100%);
	color: #fff;
	float: right;
    width: 100%;
}
.rde-button:hover {
    background:  #fcd878;
    background: -moz-linear-gradient(90deg, #fcd878 0, #fbbe45 100%);
    background: -webkit-linear-gradient(90deg, #fcd878 0, #fbbe45 100%);
    background: -o-linear-gradient(90deg, #fcd878 0, #fbbe45 100%);
    background: -ms-linear-gradient(90deg, #fcd878 0, #fbbe45 100%);
    background: linear-gradient(180deg, #fcd878 0, #fbbe45 100%);
    text-shadow: none;
    color: #fff;
}
/* Green */
.ves-megamenu .navbar-nav > li > a:hover span, .ves-megamenu .navbar-nav > li > a:focus span, .ves-megamenu .navbar-nav > li > a:active span {
    color: #f7931e;
}

/* end */
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
.noti-head {
    padding: 2em;
	padding-bottom: 6em;
	background-color: rgba(255,255,255,0.6); 
	
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),
    url("../images/showcase/adv-footer1.jpg");
	border-top: 2px solid transperant;
	border-radius: 20px;
}
.map {
	width: 100%;
}
.container, .up {
	padding-top:10em;
}
/* Service USR profile */
	
.user-profile {
  padding-bottom: 30px;
}

.profile-header-background {
	height: 300px;
	background: 
    linear-gradient(
      rgba(58, 38, 19, 0.5), 
      rgba(58, 38, 19, 0.5)
    ),
    url("../images/aw6uewokoio-crew.jpg") 30%;  
    background-size: cover;
}
.profile-header-background img {
  width: 100%;
  height: 310px;
}

.profile-info-left {
  position: relative;
  top: -92px;
}
.profile-info-left img.avatar {
  border: 2px solid #fff;
}
.profile-info-left h2 {
  font-family: "josefinslab-semibold";
  margin-bottom: 30px;
}
.profile-info-left .section {
  margin-top: 50px;
}
.profile-info-left .section h3 {
  font-size: 1.1em;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.profile-info-left ul.list-social > li {
  line-height: 2.3;
}
.profile-info-left ul.list-social > li i {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  top: 1px;
  font-size: 16px;
  min-width: 16px;
  line-height: 1;
}
.profile-info-left ul.list-social > li a {
  color: #696565;
}

.profile-info-right .tab-content {
  padding: 30px 0;
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .profile-info-right {
    position: relative;
    top: -70px;
  }
}

.user-follower,
.user-following {
  position: relative;
  margin-bottom: 40px;
}
.user-follower img,
.user-following img {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 40px;
}
.user-follower a,
.user-following a {
  font-size: 1.1em;
  line-height: 1;
}
.user-follower .username,
.user-following .username {
  font-size: 0.9em;
  line-height: 1.5;
}
.user-follower .btn,
.user-following .btn {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 92px;
}

.btn-toggle-following {
  background-color: #7bae16;
  color: #fff;
}
.btn-toggle-following:hover {
  background-color: #ef2020;
  color: #fff;
}
.btn-toggle-following:hover span {
  display: none;
}
.btn-toggle-following:hover:after {
  content: 'Unfollow';
  display: inline;
}
.btn-toggle-following:hover i:before {
  content: '\f129';
}


/* list icons */
.list-icons-demo li {
  margin-bottom: 20px;
  text-align: center;
}
.list-icons-demo li i {
  font-size: 24px;
}

.list-icons-demo2 li {
  margin-bottom: 10px;
}

.activity-item {
  overflow: visible;
  position: relative;
  margin: 15px 0;
  border-top: 1px dashed #ccc;
  padding-top: 15px;
}
.activity-item:first-child {
  border-top: none;
}
.activity-item .avatar {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 32px;
}
.activity-item > i {
  font-size: 18px;
  line-height: 1;
}
.activity-item .media-body {
  position: relative;
}
.activity-item .activity-title {
  margin-bottom: 0;
  line-height: 1.3;
}
.activity-item .activity-attachment {
  padding-top: 20px;
}
.activity-item .well {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-left: 2px solid #cfcfcf;
  background: #fff;
  margin-left: 20px;
  font-size: 0.85em;
}
.activity-item .thumbnail {
  display: inline;
  border: none;
  padding: 0;
}
.activity-item .thumbnail img {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: auto;
  margin: 0;
}
.activity-item .activity-actions {
  position: absolute;
  top: 15px;
  right: 0;
}
.activity-item .activity-actions .btn i {
  margin: 0;
}
.activity-item .activity-actions .dropdown-menu > li > a {
  font-size: 0.9em;
  padding: 3px 10px;
}
.activity-item + .btn {
  margin-bottom: 15px;
}


.nav-tabs > li > a {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  cursor: pointer;
}

.nav-pills > li > a {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #1688ae;
}

.nav-tabs.tabs-iconized > li a,
.nav-pills.tabs-iconized > li a {
  padding-top: 0;
  padding-bottom: 5px;
}
.nav-tabs.tabs-iconized > li i,
.nav-pills.tabs-iconized > li i {
  position: relative;
  margin-right: 3px;
  top: 4px;
  font-size: 24px;
}

.tab-content {
  padding: 30px 15px 15px 15px;
  background-color: #fff;
}

.nav.nav-tabs-custom-colored > li > a {
  border-color: #ccc;
  border-bottom: transparent;
}
.nav.nav-tabs-custom-colored > li > a:hover, .nav.nav-tabs-custom-colored > li > a:focus {
  background-color: #1688ae;
}

.nav-tabs.nav-tabs-custom-colored {
  border-bottom-color: #1688ae;
}
.nav-tabs.nav-tabs-custom-colored > li {
  z-index: 0;
  margin-bottom: 0;
  background-color: #fff;
}
.nav-tabs.nav-tabs-custom-colored > li > a {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  color: #696565;
  margin-right: 0;
}
.nav-tabs.nav-tabs-custom-colored > li > a:hover, .nav-tabs.nav-tabs-custom-colored > li > a:focus {
  color: #fff;
  border-color: #1688ae;
}
.nav-tabs.nav-tabs-custom-colored > li.active > a, .nav-tabs.nav-tabs-custom-colored > li.active > a:hover, .nav-tabs.nav-tabs-custom-colored > li.active > a:focus {
  color: #fff;
  background-color: #1688ae;
  border-color: #1688ae;
  border-bottom: transparent;
}
.nav-tabs > li.active {
  z-index: 1;
}

.nav-pills-custom-minimal {
  border-bottom: 1px solid #ccc;
}
.nav-pills-custom-minimal > li > a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 10px;
  border-top: 4px solid transparent;
  color: #696565;
}
.nav-pills-custom-minimal > li > a:hover, .nav-pills-custom-minimal > li > a:focus {
  background-color: transparent;
  color: #4f4c4c;
}
.nav-pills-custom-minimal > li.active > a, .nav-pills-custom-minimal > li.active > a:hover, .nav-pills-custom-minimal > li.active > a:focus {
  background-color: transparent;
  border-top-color: #94c632;
  color: #696565;
}
.nav-pills-custom-minimal > li + li {
  margin-left: 30px;
}
@media screen and (max-width: 480px) {
  .nav-pills-custom-minimal > li + li {
    margin-left: 0;
  }
}
.nav-pills-custom-minimal.custom-minimal-bottom > li a {
  border-top: none;
  border-bottom: 4px solid transparent;
}
.nav-pills-custom-minimal.custom-minimal-bottom > li.active > a, .nav-pills-custom-minimal.custom-minimal-bottom > li.active > a:hover, .nav-pills-custom-minimal.custom-minimal-bottom > li.active > a:focus {
  border-bottom-color: #94c632;
}
/* END END END */
										.faqHeader {
												font-size: 27px;
												margin: 20px;
											}

											.panel-heading [data-toggle="collapse"]:after {
												font-family: 'Glyphicons Halflings';
												content: "\e072"; /* "play" icon */
												float: right;
												color: #F58723;
												font-size: 18px;
												line-height: 22px;
												/* rotate "play" icon from > (right arrow) to down arrow */
												-webkit-transform: rotate(-90deg);
												-moz-transform: rotate(-90deg);
												-ms-transform: rotate(-90deg);
												-o-transform: rotate(-90deg);
												transform: rotate(-90deg);
											}

											.panel-heading [data-toggle="collapse"].collapsed:after {
												/* rotate "play" icon from > (right arrow) to ^ (up arrow) */
												-webkit-transform: rotate(90deg);
												-moz-transform: rotate(90deg);
												-ms-transform: rotate(90deg);
												-o-transform: rotate(90deg);
												transform: rotate(90deg);
												color: #454444;
											}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none !important;
}
.mylivechat_collapsed{
	background-color: #3a2613 !important;
    border: 1px solid #3a2613 !important;
}
.mylivechat_expanded {
	background-color: #3a2613 !important;
    border: 1px solid #3a2613 !important;
}
.mylivechat_prechat_submit_button, .mylivechat_offline_submit_button, .mylivechat_prechat_survey_button {
	background-color: #3a2613 !important;
}
.product-block .actions, .product-block .btn-cart, .product-block .add-to-links {
    visibility: visible;
    opacity: 1;
    float: right;
    width: 100%;
    margin-right: 0.5em;
}
.outer-container ul.easytab-title:after, .tab-side-container ul.nav-tabs:after {
    content: "";
    width: 100%;
    background: #ececec;
    height: 1px;
    position: relative;
    top: 50%;
    left: 0;
}
@media screen and (max-width: 600px) {
.outer-container ul.easytab-title li a, .tab-side-container ul.nav-tabs li a {
    font-size: 1.5em;


    margin-left: 22vw;
 
    color: #3a2613;
    font-weight: 100;
}
}
@media screen and (min-width: 600px) {
.outer-container ul.easytab-title li a, .tab-side-container ul.nav-tabs li a {
    font-size: 2em;
    margin-left: 40vw;
    color: #3a2613;
    font-weight: 100;
}
}
}
.outer-container ul.easytab-title li.active, .tab-side-container ul.nav-tabs li.active {
    background: 0;
}
.ves-megamenu .navbar-nav > li > a .caret:before {
    color: #3a2613;
}
.dropdown-menu {
    display: inline-block !important;
}
.product-block .product-info .product-name {

    height: 80px;
}
.lead {
    margin-bottom: 0px !important;
}
.collapse {
    display: inline-block !important; border:0 !important; padding:0 !important;
}
@media screen and (max-width: 600px) {
	.profile-info-left {
	    position: relative;
	    top: -50px;
	}
	.form-search {
    text-align: center;
	}
/* Mobile Menu always on */
	.header #header-nav.skip-content {
	}
/* END */
	/*.ves-megamenu .dropdown-menu .mega-col .mega-col-inner li a span {
	    color: #ffffff;
	}*/
}
.header .wrap-container {

}
.header-v2 .skip-link {
    color: #371303;
	font-weight: 400;
	font-size: 1.2em;
}
.skip-cart.no-count .count {
	font-weight:400;
	font-family:Cabin, sans-serif;
}
.skip-nav {
    width: 100%;
}
/* Toolbar */
.right-arrow {
    float: none !important;
    margin-left: 3px;
}
.pager {

    margin: 0 !important;
}
.toolbar .pager .limiter ul li {
    padding: 0;
    background: transparent;
}
.toolbar .pager .limiter {
    float: right;
    padding-right: 3em;
}
.pager .amount, .pager .limiter, .pager .pages {
    margin-bottom: 0;
}
.toolbar .pager .limiter ul li {
    padding: 0 !Important;
	width: 55px !important;
}
.pager li>a, .pager li>span {

    border: 0 !important;
}
.pager li>a, .pager li>span {

    border: 0 !important;
    border-radius: 0px !important;
}
.toolbar .limiter ul li ul, .toolbar .sort-by ul li ul {

    top: 0 !important;
}
/* TOOLBAR END */
/* Sidebar Catalog */
.sidebar .block-title strong, .sidebar .block-title {

    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    color: #636363 !important;
	background-color: transparent !important;
    padding-bottom: 0;
    margin-bottom: 13px;
    text-transform: uppercase;

}
body:not(.customer-account) .block:first-child .block-title {
    border-top: none;

}

/* SIDEBAR END */
/*.main-container, .container, .wrap-container, .page-header, .footer-container {
    padding: 0 !important;
}*/
/* Cointainers */
.hm-bgr {

	max-height: 300px;
	background:	
    linear-gradient(
      rgba(58, 38, 19, 0.9), 
      rgba(58, 38, 19, 0.9)
    ),
    url("../images/aw6uewokoio-crew.jpg") 30%;  
    background-size: cover;
}
.hm-bgr p {
	font-family: 'Noto Sans', sans-serif !Important;
	padding-top: 1em;
	padding-bottom:1em;
	color: #ffffff;
	font-size: 1.5em;
	text-align: justify;
}
.prn-button {
    font-size: 18px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif !Important;
    height: 41px;
    text-align: center;
    border-radius: 30px;
    line-height: 38px;
    text-transform: uppercase;
    padding: 0px 15px;
    float: none !important;
}
.widget-newsletter {
	text-align: left;
}
.widget-newsletter input {

    width: 100% !important;
}
.ves-widget .menu-title {
    text-transform: none;
    font-weight: 500;
    
}
.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

/*====================================== 170617 =========================================*/
.main-container {margin-bottom:40px !important;}
.cms-index-index .main-container {max-width:100%; margin-bottom:0;}
.cms-index-index .ves-maincontent .main-container {margin-bottom:0 !important;}
.tab-side-container ul.nav-tabs {left: auto; width: 100%; text-align: center; font-size: 0;}
.tab-side-container ul.nav-tabs li {float: none; margin: 0;}
.tab-side-container ul.nav-tabs li a {font-size:32px; margin:0;}
.ves-maincontent .wrap-container, .ves-massbottom .wrap-container {max-width:100%;}
.ves-massbottom .wrap-container .ourservice-block {max-width:1260px; margin: 0 auto;}
#ves-footer .footer-top {padding-top: 0 !important; padding-bottom: 10px !important;}

#opc-billing form, #opc-shipping form {position:relative;}
#opc-billing form .fieldset p.required, #opc-shipping form .fieldset p.required {position:absolute; right:0; top:-12px;}
#opc-billing .form-list ul li, #opc-shipping .form-list ul li {float:left; width:48%;}
#opc-billing .form-list ul li input.input-text, #opc-shipping .form-list ul li input.input-text {width:100%;}
#opc-billing .form-list ul li select, #opc-shipping .form-list ul li select {max-width:100%;}
#opc-billing .form-list ul li:nth-child(2n+1), #opc-shipping .form-list ul li:nth-child(2n+1) {margin-right: 4%;}
.checkout-onepage-index .col-right {margin-top:20px;}
#co-shipping-form ul.form-list > .control {float:left;}
#co-shipping-form ul.form-list > .control .checkbox {margin:3px 5px 0 0;}
#co-shipping-form ul.form-list > .control label {padding: 0; line-height: normal; margin: 0;}


/*====================================== New style 060717 =========================================*/

.header-top-bar {background: #241b12; padding:6px 0;}
.header-top-bar .inner {max-width:1260px; margin:0 auto;}
.header-top-bar .inner .contact, .header-top-bar .inner .email, .header-top-bar .inner ul, .header-top-bar .inner ul li {display:inline-block; vertical-align:middle; color:#fff; margin:0;}

.header-top-bar .inner .contact {font-size:13px; color: #f7931e;}
.header-top-bar .inner .contact:before {content:""; width:21px; height:21px; display:inline-block; background:url(../images/icon_sprite.png) right 0 no-repeat; vertical-align: middle; margin-right: 8px;}
.header-top-bar .inner .email {margin:0 30px; font-size:14px;}
.header-top-bar .inner .email:before {content:""; width:24px; height:17px; display:inline-block; background:url(../images/icon_sprite.png) right -27px no-repeat; vertical-align: top; margin-right: 12px;}
.header-top-bar .inner .email:hover {text-decoration:underline !important;}
.header-top-bar .inner ul li {margin-right:30px;}
.header-top-bar .inner ul li a {color:#fff; font-size:13px;}
.header-top-bar .inner ul li a:hover {text-decoration:underline !important;}

#search_mini_form {display:inline-block; position:relative; width:25%;}
.logo-cont {padding:0 !important; text-align:left;}

#search_mini_form .button {background:none; border-radius:0; overflow: hidden; display: inline-block; width: 17px; height: 17px; padding: 0; position: absolute; right: 9px; top: 5px;}
#search_mini_form .button span {display:none;}
#search_mini_form .button .fa-search:before {content:""; width:17px; height:17px; display:block; background:url(../images/icon_sprite.png) right -51px no-repeat;}

#mainmenutop, .ves-megamenu .navbar-nav > li > a {background:#fff !important;}

.ves-footer + .widget-static-block {position: absolute;left: 0; bottom: 0;}

.panel-group p span {font-family:"Roboto", sans-serif !important;}
.footer-container iframe {width:100%;}

.hm-bgr .col-md-offset-1 {max-width: 1260px; margin: 0 auto;}
.hm-bgr p {font-size:1.3em;}
.hm-bgr .col-md-8 p {padding-right:20px;}

.widget-newsletter .widget-inner .input-box {width:59%; display:inline-block; margin-right:5px;}
.widget-newsletter .widget-inner .clearfix {display:none;}

.widget-images .image-item img {width:100%; height:auto !important;}
.widget-images .image-item .image-description a br {display:none;}
.widget-newsletter .widget-inner .actions .fa-envelope {margin-right:5px;}

.toplinkpan {display:inline-block;}

#ves-footer .footer .navbar-nav.megamenu li {width:100%;}
#ves-footer .footer .navbar-nav.megamenu a {padding:0; display:inline-block; font-size: 13px; text-transform: uppercase; line-height: 29px;}
#ves-footer .footer .navbar-nav.megamenu a:hover {background:none;}
#ves-footer .footer .navbar-nav.megamenu a .menu-icon {background:none !important;}
#ves-footer .footer .navbar-nav.megamenu a .caret {display:none;}
#ves-footer .footer .navbar-nav.megamenu .dropdown-menu {display:none !important;}
#ves-footer .footer .navbar-nav.megamenu .open-child {display:none !important;}

.minicart-wrapper .close {opacity:1;}
.minicart-wrapper .product-details a {color: #241b12 !important;}

.prod-description {display: inline-block; width: 60%; padding: 0 15px; font-size: 16px;}
.prod-description .block-title strong {font-size: 16px; color: #333; font-family: Cabin, sans-serif;}
.prod-description .more_descript {float: right;  margin: 5px 0 0 0; text-decoration: underline !important;}
.prod-description .more_descript:hover {color: #342014 !important;}
.prod-description .more_descript:focus {color: #f7931e !important;}
.youtube_fbcomnt {margin: 40px 0;}
.youtube {display: inline-block; vertical-align: top; width:48%;}
.youtube iframe {width: 100% !important; height: 327px;}
.fbcomnt {background: #efe6e2; padding: 15px; display: inline-block !important; width: 50%; float:right;}
.fb_iframe_widget_fluid span {background:#fff;}
.youtube_fbcomnt:after {content:""; display:table; clear:both;}


/*================================== Coffee service page new ====================================*/

.cms-kavos-aparatu-remontas .main-container, .cms-kavos-aparatu-remontas .main-container .container {max-width:100%;}
.cms-kavos-aparatu-remontas .main-container .user-profile .row {max-width:1260px; margin:0 auto !important;}

.cms-kavos-aparatu-remontas .contact-info-box {float: left; width: 65%;}
.cms-kavos-aparatu-remontas .contact-info-box h1 {color: #333 !important; margin-top:30px;}
.cms-kavos-aparatu-remontas .contact-info-box .location-map {width: 47%; display: inline-block; vertical-align: top;}
.cms-kavos-aparatu-remontas .contact-info-box .location-map iframe {width:100%;}
.cms-kavos-aparatu-remontas .contact-info-box .cont-feed-form {display:inline-block; vertical-align:top; width:50%; text-align:center; position:relative; padding-left:40px;}
.cms-kavos-aparatu-remontas .contact-info-box .cont-feed-form h3 {text-align:left; font-size:26px; margin-bottom:20px; margin-top:0;}
.cms-kavos-aparatu-remontas .contact-info-box .cont-feed-form .mand-text {position: absolute; top: 41px; right: 3px; font-size: 14px; color: #f10e14;}
.cms-kavos-aparatu-remontas .contact-info-box .cont-feed-form form {text-align:center;}
.cms-kavos-aparatu-remontas .contact-info-box .cont-feed-form form label {font-weight:normal; font-size:15px; margin-bottom:0; float:left; text-align:left;}
.cms-kavos-aparatu-remontas .contact-info-box .cont-feed-form form label span {color: #f10e14; padding-left:7px;}
.cms-kavos-aparatu-remontas .contact-info-box .cont-feed-form form input {height:35px; border-radius:10px; border:1px solid #C0C0C0; padding:0 8px; margin-bottom:12px; width:100%;}
.cms-kavos-aparatu-remontas .contact-info-box .cont-feed-form form textarea {max-width:100%; height:71px; border-radius:10px; border:1px solid #C0C0C0; margin-bottom:12px; resize:none;}
.cms-kavos-aparatu-remontas .contact-info-box .cont-feed-form .button {font-size:15px; padding:8px 18px;}
.cms-kavos-aparatu-remontas .contact-info-box .cont-feed-form .button:hover {background: #3a2613;}
.cms-kavos-aparatu-remontas .contact-info-box .cont-feed-form form .validation-advice {margin: 0; text-align: right; position: relative; top: -12px; color: #f10e14;}

.cms-kavos-aparatu-remontas .profile-info-box {margin-top: -92px; float: right; width: 32%; text-align:center;}
.cms-kavos-aparatu-remontas .profile-info-box img.avatar {border: 2px solid #fff;}
.cms-kavos-aparatu-remontas .profile-info-box .contact-info {margin-top:15px;}
.cms-kavos-aparatu-remontas .profile-info-box .contact-info .media .fa {width: 40px; height: 40px; background: #f7931e; border-radius: 50%; line-height: 40px; color: #fff; font-size: 25px;}
.cms-kavos-aparatu-remontas .profile-info-box .contact-info .media .fa.fa-phone {font-size:30px;}
.cms-kavos-aparatu-remontas .profile-info-box .contact-info .media .fa.fa-envelope {font-size:24px;}
.cms-kavos-aparatu-remontas .profile-info-box .contact-info .media span {font-size:22px;}
.cms-kavos-aparatu-remontas .profile-info-box .contact-info .media.phone span,
.cms-kavos-aparatu-remontas .profile-info-box .contact-info .media.email span {font-weight:bold; font-size:30px;}
/*.cms-kavos-aparatu-remontas .profile-info-box .contact-info .media .fa-home + .media-body span span,*/
.cms-kavos-aparatu-remontas .profile-info-box .contact-info .media .fa-check + .media-body span span {display:block;}

.cms-kavos-aparatu-remontas .faqHeader {margin:0 0 20px; line-height:normal;}
.cms-kavos-aparatu-remontas .panel-group .panel {margin-bottom:15px;}
.cms-kavos-aparatu-remontas .panel-default>.panel-heading {color: #fff; background-color: #3a2613; padding:0;}
.cms-kavos-aparatu-remontas .panel-default>.panel-heading > .panel-title > a {padding:10px 15px; display:block;}
.cms-kavos-aparatu-remontas .panel-default>.panel-heading > .panel-title > a .fa {float:right; -webkit-transition: all 0.2s ease-out 0s; -moz-transition: all 0.2s ease-out 0s; transition: all 0.2s ease-out 0s;}
.cms-kavos-aparatu-remontas .panel-default>.panel-heading > .panel-title > a .fa:before {color:#f7931e;}
.cms-kavos-aparatu-remontas .panel-default>.panel-heading.expanded > .panel-title > a .fa {transform:rotate(90deg);}
.cms-kavos-aparatu-remontas .panel-default>.panel-heading+.panel-collapse>.panel-body {border:0; font-size:16px;}
.cms-kavos-aparatu-remontas .profile-info-right .tab-content {padding-bottom:0;}
.cms-kavos-aparatu-remontas .profile-info-right .media.activity-item {margin-bottom:0;}


/*================================== Coffee service page new ====================================*/


@media (min-width: 768px){
    .navbar-collapse.collapse {max-width: 1260px; margin: 0 auto; text-align: right; padding:0;}
    .main-nav {padding:0 !important;}
    .fb_iframe_widget_fluid span {height: 290px !important; overflow-y: auto;}
}

/*====================================== New style 060717 =========================================*/

@media screen and (max-width: 1300px) {
    .ves-megamenu .navbar-nav > li > a span span {font-size:15px; padding:0 22px;}
    .logo-cont {width:20% !important;}
    .main-nav {width:80% !important;}
}

@media screen and (max-width: 1280px) {
    .main-container, .container, .page-header, .footer-container {padding: 0 20px !important;}
    .cms-kavos-aparatu-remontas .main-container, .cms-kavos-aparatu-remontas .main-container .container {padding:0 !important;}
    .page-header-container .container {padding: 0 10px !important}
    
    .header-v2 .skip-link {margin-left:0 !important;}
    .header-top-bar .inner .contact:before {margin:0 0 0 8px;}
}

@media screen and (max-width: 1240px) {
    #search_mini_form {width:20%;}
}

@media screen and (max-width: 1159px) {
     .header-v2 #header-nav {margin-top:17px;}
     .header-v2 .logo .large {height:auto;}
     .header-top-bar .inner .email {margin:0 20px;}
     .header-top-bar .inner ul li {margin-right:20px;}
     .header-top-bar .inner ul li a {font-size:12px;}
     .header-top-bar .inner .email {font-size:13px;}
     #search_mini_form {width:18%;}
     
     .cms-kavos-aparatu-remontas .contact-info-box h1 {font-size:30px;}
     .cms-kavos-aparatu-remontas .contact-info-box h2 {font-size:25px;}
     .cms-kavos-aparatu-remontas .profile-info-box h2 {font-size:25px;}
     .cms-kavos-aparatu-remontas .contact-info-box .cont-feed-form h3 {font-size:19px;}
}

@media screen and (min-width:768px) and (max-width: 959px) {
    .cms-kavos-aparatu-remontas .contact-info-box .cont-feed-form h3 {margin-bottom:8px;}
    .cms-kavos-aparatu-remontas .contact-info-box .cont-feed-form .mand-text {position:static; float:none; display:block; text-align:left; margin-bottom:8px;}
}

@media screen and (min-width: 1036px) {
    .lnk-collapse {display:none;}
    .skip-links.main-nav {display:none;}
}

@media screen and (min-width:771px) and (max-width: 1035px) {
    span.open-child:after {content: "+"; font-size: 20px; text-align: center; background: transparent; opacity: 1;}
    .over > span.open-child:after {content: "\2212";}
    
    .navbar-nav>li>.dropdown-menu {position:static !important; display:none !important;}
    .navbar-nav>li.over>.dropdown-menu.in {position:static !important; display:block !important; width: 100% !important; box-shadow: none; padding: 0; padding-left: 40px; visibility: visible; opacity: 1; filter: alpha(opacity=100); -moz-transform: scaleY(1); -ms-transform: scaleY(1); -webkit-transform: scaleY(1); transform: scaleY(1);}
    
    .ves-megamenu .dropdown-menu .row .mega-col {width:97%;}
}

@media screen and (max-width: 1035px) {
    .toplinkpan {display:none;}
    .header-top-bar {text-align:center; position:relative;}
    #search_mini_form {width:50%;}
    .lnk-collapse {color: #fff; line-height: normal; position: absolute; left: 0; top: 0; background: #3e362e; display: block; width: 40px; height: 100%; cursor:pointer;}
    .lnk-collapse .fa-plus {margin-top:12px;}
    .lnk-collapse.active .fa-plus {transform:rotate(45deg);}
    .toplinkpan.open {display: block; position: absolute; left: 0; top: 40px; width: 100%; z-index: 100; background: #3e362e; padding:3px 0;}
    .main-nav {width:100% !important;}
    .main-nav #header-nav {display:none;}
    .main-nav #header-nav.skip-active {display:block; margin-top:5px; padding:0; border:0;}
    .skip-links.main-nav {display:block; position: absolute; top: 25px; right: 20px; width: auto !important;}
    .skip-links.main-nav a {color:#371303; font-size:18px;}
    .skip-links.main-nav a .fa-bars {vertical-align:top;}
    .container.nav-collapse-blk {position:static;}
    .ves-megamenu .navbar-nav {float:left; width:100%; text-align:left; margin-left:0; margin-right:0;}
    .ves-megamenu .navbar-nav > li {width:100%; border-top: 1px solid #ccc; padding: 5px 0 2px; border-radius: 0; position:relative; border-right:0 !important;}
    .ves-megamenu .navbar-nav > li .open-child {position: absolute; right: 0; top: 0; z-index: 100; display:block !important;}
    .ves-megamenu .navbar-nav > li > a .caret {display:none;}
    .ves-megamenu .navbar-nav > li > a span {padding: 0 0 0 37px; background-position: 0 0 !important; display: block;}
    .ves-megamenu .navbar-nav > li:last-child {border-top: 1px solid #ccc;}
    #header-nav .menu-footer {padding-bottom:0;}
    
    .ves-megamenu .dropdown-menu .row .mega-col {padding-right:0; margin-right:30px;}
    .ves-megamenu .dropdown-menu .mega-col .mega-col-inner {padding-right:0;}
}

@media screen and (max-width: 991px) {
    .ves-megamenu .navbar-nav > li > a .caret:before {display:block !important;}
    .footer-container .col-sm-6 {margin-bottom:20px;}
    .profile-header-background.hidden-sm {display:block !important;}
    .cms-kavos-aparatu-remontas .profile-info-box .contact-info .media span {font-size:18px;}
    .cms-kavos-aparatu-remontas .profile-info-box .contact-info .media.phone span,
    .cms-kavos-aparatu-remontas .profile-info-box .contact-info .media.email span {font-size:25px;}
}

@media screen and (max-width: 910px) {
    .prod-description {padding:0; width:100%;}
    .cms-kavos-aparatu-remontas .panel-default>.panel-heading > .panel-title > a {padding-right:30px; line-height:normal; font-size:14px; position:relative;}
    .cms-kavos-aparatu-remontas .panel-default>.panel-heading > .panel-title > a .fa {position: absolute; top: 50%; right: 12px; margin-top: -7px;}
}

@media screen and (max-width: 800px) {
    .col-md-9.main-nav {display:block !important;}
    .col-md-9.main-nav .skip-active {display:block !important;}
}

@media screen and (min-width: 768px) and (max-width:991px) {
    .footer-container .col-sm-6 {float:none; display:inline-block; width:48%; vertical-align:top;}
}

@media screen and (min-width: 768px) {
    .cms-home .new-products .products-row .col-sm-6 {width:25%;}
}

@media screen and (max-width: 768px) {
    .cms-kavos-aparatu-remontas .profile-info-right {top:0;}
}

@media screen and (max-width: 767px) {
    .ves-footer .block .block-title {padding:0 !important; margin-bottom:0 !important;}
    .ves-footer .block .block-content .panel-group {margin-bottom:0; }
    .ves-footer .block .block-content .panel-group ul {margin:0;}
    .top-image-sect {padding:0 !important;}
    .top-image-sect .col-md-4 {width:100%;}
    .logo-cont {width:38% !important;}
    .youtube, .fbcomnt {width:100%;}
    .youtube {margin-bottom:20px;}
    
    .cms-kavos-aparatu-remontas .contact-info-box, .cms-kavos-aparatu-remontas .profile-info-box,
    .cms-kavos-aparatu-remontas .contact-info-box .location-map,
    .cms-kavos-aparatu-remontas .contact-info-box .cont-feed-form {width:100%;}
    
    .cms-kavos-aparatu-remontas .contact-info-box .cont-feed-form{padding:30px 0 0;}
    .cms-kavos-aparatu-remontas .contact-info-box .cont-feed-form .mand-text {top:60px;}
    .cms-kavos-aparatu-remontas .profile-info-box img.avatar {width:180px;}
    .cms-kavos-aparatu-remontas .contact-info-box {text-align:center;}
    
    .product-block .product-info .product-name a {font-weight: 700;font-size: 0.8em;}
    .product-block .product-info .price-box .price {font-size:14px;}
    .cms-home .new-products .products-row .col-xs-6 {width:25%;}
    
}

@media screen and (max-width: 568px) {
    #opc-billing .form-list ul li, #opc-shipping .form-list ul li {float:none; width:100%;}
    #opc-billing .form-list ul li:nth-child(2n+1), #opc-shipping .form-list ul li:nth-child(2n+1) {margin-right:0;}
    
    .cms-kavos-aparatu-remontas .contact-info-box h1 {font-size:25px;}
    .cms-kavos-aparatu-remontas .contact-info-box h2 {font-size:20px;}
    .cms-kavos-aparatu-remontas .profile-info-box h2 {font-size:22px;}
    .cms-kavos-aparatu-remontas .faqHeader {font-size:22px;}
    .cms-kavos-aparatu-remontas .profile-info-box img.avatar {width:150px;}
    
}

@media screen and (max-width: 767px) {
    .logo-cont {width: 200px !important;}
}

@media screen and (max-width: 670px) {
    .product-block .product-info .product-name {height:50px;}
    .cms-home .new-products .products-row .col-xs-6 {width:50%;}
}

@media screen and (max-width: 480px) {
    .product-block .product-info .product-name {height:auto;}
    .cms-home .new-products .products-row .col-xs-6 {width:100%;}
}

@media screen and (max-width: 368px) {
    .opc .section .step-title h2 {font-size:13px;}
    .checkout-onepage-index .main-container {padding:0 16px !important;}
    .logo-cont {width: 150px !important;}
}
