<?xml version="1.0"?>
<config>
    <modules>
        <Folio3_MaintenanceMode>
            <version>1.1.0</version>
        </Folio3_MaintenanceMode>
    </modules>
    <global>
        <models>
            <Folio3_MaintenanceMode>
                <class>Folio3_MaintenanceMode_Model</class>
            </Folio3_MaintenanceMode>
        </models>
        <blocks>
            <folio3_maintenanceMode>
                <class>Folio3_MaintenanceMode_Block</class>
            </folio3_maintenanceMode>
        </blocks>
        <helpers>
            <Folio3_MaintenanceMode>
                <class>Folio3_MaintenanceMode_Helper</class>
            </Folio3_MaintenanceMode>
        </helpers>
        <resources>
            <maintenancemode_setup>
                <setup>
                    <module>Folio3_MaintenanceMode</module>
                </setup>
            </maintenancemode_setup>
        </resources>
    </global>
    <stores>
        <default>
            <web>
                <routers>
                    <standard>
                        <area>frontend</area>
                        <class>Folio3_MaintenanceMode_Controller_Router_Standard</class>
                    </standard>
                </routers>
            </web>
        </default>
    </stores>
    <default>
        <web>
            <routers>
                <standard>
                    <area>frontend</area>
                    <class>Folio3_MaintenanceMode_Controller_Router_Standard</class>
                </standard>
            </routers>
        </web>
        <MaintenanceMode>
            <config>
                <isEnabled>0</isEnabled>
                <adminAccess>1</adminAccess>
                <allowedIPs></allowedIPs>
                <pageStaticBlock>f3_maintenance</pageStaticBlock>
                <showCountdown>0</showCountdown>
                <upDateTime>Today</upDateTime>
            </config>
        </MaintenanceMode>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <MaintenanceMode>
                                            <title>Maintenance Mode</title>
                                        </MaintenanceMode>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
